<h1 class="title" >{{ title }}</h1>
<h2 class="sub_title" >Par KAMGUIA FOTSO JERRY 18P017</h2>
<div class="container">

  <div class="depart">
    <div class="head">
      <label>{{depart.name}} </label>
      <select [(ngModel)]='depart'>
        <option *ngFor="let devise of listeDevise" [ngValue]="devise">{{devise.code}}</option>
      </select>
    </div>
    <input type="text" [(ngModel)]='value'>
  </div>
  <img class="image" src="../assets/fleche.jpg" />

  <div class="depart">
    <div class="head">
      <label>{{arrivee.name}}</label>
      <select [(ngModel)]='arrivee'>
        <option *ngFor="let devise of listeDevise" [ngValue]="devise">{{devise.code}}</option>
      </select>
    </div>
    <input type="text" disabled value='{{ value | convert: depart.name: arrivee.name}}'>
  </div>

</div>